csdr
nmux
ddcd
*.o
*.lo
*.la
*.so
*.so.*
tags
dumpvect.*.vect
*.swp
grc_tests/top_block.py
.idea
# autotools
.deps
.libs
m4
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
install-sh
ltmain.sh
missing
libtool
csdr.pc
